body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.custom-link-button {
  border: 1px solid #0d6efd;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  background: #0d6efd;
  margin: 1rem;
}

.main-content {
  width: 100%;
}

.main-content.dark{
  background-color: #212529;
  color: white;
}

.main-content.light{
  background-color: whitesmoke;
  color: black;
}
